body{

margin:0;

font-family:
'Segoe UI';

background:
linear-gradient(
135deg,
#0d0d0d,
#420000
);

color:white;

}



header{

background:#c1121f;

padding:25px;

text-align:center;

box-shadow:
0 5px 20px black;

}



#calendar{

padding:20px;

}



.fc{

background:
rgba(255,255,255,.08);

padding:20px;

border-radius:25px;

}



.fc-button{

background:#c1121f!important;

border:none!important;

}



.modal{

display:none;

position:fixed;

inset:0;

background:
rgba(0,0,0,.7);

align-items:center;

justify-content:center;

z-index:10;

}



.popup{


background:#222;

padding:30px;

border-radius:25px;

width:320px;

text-align:center;


box-shadow:
0 15px 50px black;


animation:
popup .3s;


}



button{


padding:14px;

border:none;

border-radius:15px;

background:#c1121f;

color:white;

margin:10px;

font-size:16px;


}



@keyframes popup{


from{

transform:scale(.8);

opacity:0;

}

to{

transform:scale(1);

opacity:1;

}


}
