body{

margin:0;
font-family:'Segoe UI',sans-serif;

background:
linear-gradient(
135deg,
#111,
#2b0000
);

color:white;

}


header{

padding:25px;

background:#c1121f;

display:flex;

justify-content:space-between;

align-items:center;

box-shadow:
0 5px 20px black;

}



button{

background:#ff3b30;

border:none;

color:white;

padding:10px 14px;

border-radius:12px;

font-size:18px;

margin:5px;

cursor:pointer;

}



.agenda{

padding:20px;

}



.reservatie{


background:
rgba(255,255,255,0.08);


backdrop-filter:blur(10px);


border-radius:20px;


padding:20px;


margin-bottom:15px;


box-shadow:
0 10px 25px rgba(0,0,0,.4);


border-left:
6px solid #ff3b30;


animation:
fade .3s;


}


.kaart-header{


display:flex;

justify-content:space-between;

align-items:center;

}



@keyframes fade{


from{

opacity:0;
transform:translateY(10px);

}

to{

opacity:1;

}

}
